h1 {
    border: 2px solid darkblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: #75a9f9;
    font-family: 'Candal';
    font-size: 40px;
}

.flex-container {
    position: absolute;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.flex-container:hover {
    border: 2px solid #75a9f9;
    border-radius: 5px;
}

h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #033076;
    font-family: 'Candal';
    font-size: 30px;
}

hr {
    width: 50%;
    border-color: #75a9f9;
}

p {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.botoes {
    margin-bottom: 50px;
}

.principal {
    margin-left: 10%;
    font-family: 'Candal';
    font-size: 11px;
}

.principal::after {
    content: "";
    clear: both;
    display: table;
}

.display {
    float: left;
    text-align: center;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

a {
    color: #033076;
    text-decoration: none;
}

.flex-container p {
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
    .flex-container {
        left: 3%;
    }
    .principal {
        margin-left: 0;
    }
    .display {
        width: 100%;
        display: block;
    }
}

img:hover {
    height: 350px;
}

footer {
    font-family: 'Candal';
    margin-top: 15%;
}

#footer1 {
    margin-bottom: 0;
    font-size: 15px;
    text-align: center;
    color: #033076;
}

#footer2 {
    margin-top: 5px;
    font-size: 8px;
    text-align: center;
    color: #033076;
}